@using nTestSwarm.Application.Queries.JobStatus
@using nTestSwarm.Application

@model JobStatusResult
@{
    ViewBag.Title = "Job Status";
}
<div id="dialog" title="Clients"></div>
<h3>@Model.JobName</h3>

<table class="job-results">
    <thead>
        <tr>
            <th></th>
            @foreach (var browser in Model.Browsers) {
            <th>
                <div class="browser" rel="@Url.Action("UserAgentInfo", "UserAgent", new {browser.Id})">
                    <img src="@(Url.Content("~/images/") + browser.Browser + ".sm.png")" class="browser-icon @browser.Browser" alt="@browser.Name" title="@browser.Name" /><br />
                    <span class="browser-name">@browser.Name</span>
                </div>
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RunResults) {
        <tr>
            <th><a href="@row.RunUrl">@row.RunName</a></th>
            @foreach (var cell in row.Cells) {
            <td class="@cell.Status.Css">
                <a href="@Url.Action("Status", "Run", new {cell.ClientId, row.RunId})">@cell.CellContents</a>
            </td>
            }
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/scripts/app/job-status.js" type="text/javascript"></script>
}
