@using nTestSwarm.Application.Queries.JobStatus
@using nTestSwarm.Application
@model JobStatusResult
@{
    ViewBag.Title = "Job Status";
}
@*@section head {
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>

}*@
<div id="dialog" title="Clients"></div>
@*<div>@Html.LatestJobs()</div>*@
<h3>@Model.JobName</h3>

@if (Request.IsAuthenticated) {
<form action="@Url.Action("WipeJob")" method="POST">
    <input type="hidden" name="job_id" value="@Model.JobId"/>
    <input type="submit" name="type" value="delete" class="action-button" />
    <input type="submit" name="type" value="reset" class="action-button" />
</form>
}

@{ Html.RenderPartial("StatusTable", Model); }

@section Scripts {
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/scripts/app/job-status.js" type="text/javascript"></script>
}
