@using nTestSwarm.Application.Queries.JobStatus
@model JobStatusResult
<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            @foreach (var browser in Model.Browsers)
            {
            <th>
                <div class="browser" rel="@Url.Action("UserAgentInfo", "UserAgent", new {browser.Id})">
                    <img src="@(Url.Content("~/images/") + browser.Browser + ".sm.png")" class="browser-icon @browser.Browser" alt="@browser.Name" title="@browser.Name" /><br />
                    <span class="browser-name">@browser.Name</span>
                </div>
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RunResults)
        {
        <tr>
            <th><a href="@row.RunUrl">@row.RunName</a></th>
            @foreach (var cell in row.Cells)
            {
            <td class="@cell.Status.Css">
                <a href="@Url.Action("Status", "Run", new {cell.ClientId, row.RunId})">@cell.CellContents</a>
            </td>
            }
        </tr>
        }
    </tbody>
</table>

@*
<!-- future knockout template for use with SignalR -->
<table class="results table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <!-- ko foreach: browsers -->
            <th>
                <div class="browser">
                    <img data-bind="attr: iconAttributes" class="browser-icon" />
                    <div data-bind="text: name" class="browser-name"></div>
                </div>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: runResults">
        <tr>
            <th><a data-bind="text: runName, attr: { href: runUrl }"></a></th>

            <!-- ko foreach: browsers -->
            <td data-bind="attr: { class: statusClass }"><a data-bind="text: statusText, attr: { href: statusUrl }"></a></td>
            <!-- /ko -->
        </tr>
    </tbody>
</table>
*@