@model nTestSwarm.Application.Queries.GetProgram.ProgramViewModel
@{
    var labelAttribs = new { @class = "control-label" };
}
<div class="control-group">
    @Html.LabelFor(x => x.Name, labelAttribs)
    <div class="controls">
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
</div>
    
<div class="control-group">
    @Html.LabelFor(x => x.JobDescriptionUrl, labelAttribs)
    <div class="controls">
        @Html.EditorFor(x => x.JobDescriptionUrl)
        @Html.ValidationMessageFor(x => x.JobDescriptionUrl)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(x => x.DefaultMaxRuns, labelAttribs)
    <div class="controls">
        @Html.EditorFor(x => x.DefaultMaxRuns)
        @Html.ValidationMessageFor(x => x.DefaultMaxRuns)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(x => x.UserAgentListItems, labelAttribs)
    <div class="controls">
        @Html.ListBox("UserAgentIds", Model.UserAgentListItems)
    </div>
</div>