@using nTestSwarm.Application.Domain
@model ClientRun

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Created)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Created)
    @Html.ValidationMessageFor(model => model.Created)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Updated)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Updated)
    @Html.ValidationMessageFor(model => model.Updated)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.FailCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FailCount)
    @Html.ValidationMessageFor(model => model.FailCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ErrorCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ErrorCount)
    @Html.ValidationMessageFor(model => model.ErrorCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TotalCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TotalCount)
    @Html.ValidationMessageFor(model => model.TotalCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Results)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Results)
    @Html.ValidationMessageFor(model => model.Results)
</div>

<div class="editor-label">
    Client
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ClientId, ((IEnumerable<Client>)ViewBag.PossibleClients).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.ClientId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ClientId)
</div>
