@using nTestSwarm
@model nTestSwarm.Areas.Api.Models.ProgramsViewModel
@{
    ViewBag.Title = "Programs";
}

<h2>Programs</h2>

<table class="selection">
    <thead>
        <tr>
            <th>Name</th>
            <th>JobIds</th>
            <th>Most Recent JobId Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model.Programs) {
        <tr data-href="@Url.Action("details", new { id = @program.Id })">
            <td>@Html.ActionLink(program.Name, "details", new { id = @program.Id })</td>
            <td>@program.JobCount</td>
            @if (program.HasJobs) {
            <td>@Html.ActionLink(program.LastJobStatusText.ReplaceNullOrWhitespace("(unknown)"), "latestjob", new { id = @program.Id })</td>
            } else {
            <td></td>    
            }
            <td>
                @using (Html.BeginForm("QueueJob", "Program", new {area = "Api",id=@program.Id}, FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <input type="hidden" name="programid" value="@program.Id"/>
                    <button class="btn btn-info btn-mini" type="submit">Queue</button>
                }
            </td>
        </tr>            
        }
    </tbody>
</table>

<div>
    <a href="~/api/program/create" class="btn btn-small">Create</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/app/data-href-handler.js"></script>
}