@model nTestSwarm.Areas.Api.Models.ProgramsViewModel
@{
    ViewBag.Title = "Programs";
}

<h2>Programs</h2>

<table class="selection">
    <thead>
        <tr>
            <th>Name</th>
            <th>Jobs</th>
            <th>Most Recent Job Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model.Programs) {
        <tr data-href="@Url.Action("details", new { id = @program.Id })">
            <td>@Html.ActionLink(program.Name, "details", new { id = @program.Id })</td>
            <td>@program.JobCount</td>
            <td>@program.LastJobStatusText</td>
        </tr>            
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/app/data-href-handler.js"></script>
}