@model nTestSwarm.Areas.Client.Models.RunViewModel
@section head{
<style>
    .reloadNotice
    {
        display: none;
        border: 2px solid black;
        background-color: Red;
        position:absolute;
        top:50%;
        left:35%;
        width:350px;        
        height: 250px;
        font-family: Comic Sans, Comic Sans MS, cursive;
        font-size: 1.4em;
        color: Black;
        font-weight: bold;
    }
    .reloadNotice p 
    {
        text-align: center;
    }
</style>
}
<div class="reloadNotice">
    <p>This page will reload in 5 seconds.</p><p>Click to cancel: <button id="cancelReload">Cancel</button></p>
</div>
<div class="userinfo">
	<div class="browser you">
		<img src="@Url.Content("~/images/" + Model.Browser + ".sm.png")" class="browser-icon @Model.Browser" alt="@Model.UserAgentName" title="@Model.UserAgentName"/>
		<span class="browser-name">@Model.UserAgentName</span>
	</div>
	<h3>Client ID: @Model.ClientId</h3>
	<p><strong>Status:</strong> <span id="msg">Loading...</span></p>
</div>

<div class="userinfo">
	<h3>History</h3>
	<ul id="history"></ul>
</div>

<div id="iframes"></div>
@section Scripts
{
    <script>
        $(function() {
            var reloading;
            $('#cancelReload').on('click', function() {
                if (reloading) {
                    clearTimeout(reloading);
                    $('.reloadNotice').fadeOut();
                }
                reloading = 0;
            });
            setInterval(function() {
                $('.reloadNotice').fadeIn('slow', function() {
                    reloading = setTimeout(function() {
                        window.location.reload();
                    }, 5000);
                });
            }, (1 * 60 * 60 * 1000)); // every hour
        })
    </script>
    <script type='text/javascript'>
        var client_id = '@Model.ClientId';
    </script>
    <script>
        window.ntestswarmDefaults = {
            getRunsUrl: "@Url.Action("GetRun")",
            saveRunsUrl: "@Url.Action("SaveRun")"
        }
    </script>
    <script src="~/scripts/run.js" type="text/javascript"></script>
}