@using nTestSwarm.Application.Infrastructure.BusInfrastructure
@using nTestSwarm.Areas.Utils.Controllers
@model Result<IEnumerable<RunDiagnosticsResult>>

@{
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";    
}

@section head {
<style type="text/css">
table.rundiag {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.rundiag th {
	border-width: 1px;
	padding: 5px;
	border-style: dotted;
	border-color: black;
	background-color: white;
	-moz-border-radius: ;
}
table.rundiag td {
	border-width: 1px;
	padding: 5px;
	border-style: dotted;
	border-color: black;
	background-color: white;
	-moz-border-radius: ;
}
</style>

}

<h2>Run Diagnostics</h2>



@if (!Model.Data.Any())
{
    <h3>No active runs</h3>
}
else
{
    
<h3>Active runs</h3>
    
    <table class="standard">
        <thead>
            <tr>
                <th>Last Updated</th>
                <th>Job Name</th>
                <th>Run Name</th>
                <th>User Agent</th>
                <th>Ip Address</th>
                <th>Operating System</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var result in Model.Data) {
             <tr>
                <td>@result.Updated</td>
                <td>@result.JobName</td>
                <td>@result.RunName</td>
                <td>@result.UserAgent</td>
                <td>@result.IpAddress</td>
                <td>@result.OperatingSystem</td>
             </tr>
            }
        </tbody>
    </table>
}