@using nTestSwarm.Application.Domain
@model IEnumerable<RunUserAgent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Created
        </th>
        <th>
            Updated
        </th>
        <th>
            UserAgent
        </th>
        <th>
            Remaining Runs
        </th>
        <th>
            Max
        </th>
        <th>
            Completed
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@String.Format("{0:g}", item.Created)
        </td>
        <td>
			@String.Format("{0:g}", item.Updated)
        </td>
        <td>
			@(item.UserAgent == null ? "None" : item.UserAgent.Name)
        </td>
        <td>
			@item.RemainingRuns
        </td>
        <td>
			@item.MaxRuns
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.RunStatus).ToString()
        </td>
    </tr>
}

</table>


