@using nTestSwarm.Application.Domain
@model Run

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Run</legend>

    <div class="display-label">Created</div>
    <div class="display-field">@String.Format("{0:g}", Model.Created)</div>

    <div class="display-label">Updated</div>
    <div class="display-field">@String.Format("{0:g}", Model.Updated)</div>

    <div class="display-label">Job</div>
    <div class="display-field">@(Model.Job == null ? "None" : Model.Job.Name)</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Url</div>
    <div class="display-field">@Model.Url</div>

    <div class="display-label">Status</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.RunStatus).ToString()</div>
</fieldset>

@foreach (var rua in @Model.RunUserAgents)
{
    <p>@rua.UserAgent.Name : @rua.RunStatus.ToString()</p>
    
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


