@using nTestSwarm.Application.Domain
@model Client

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Created)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Created)
    @Html.ValidationMessageFor(model => model.Created)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Updated)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Updated)
    @Html.ValidationMessageFor(model => model.Updated)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IpAddress)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IpAddress)
    @Html.ValidationMessageFor(model => model.IpAddress)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.OperatingSystem)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.OperatingSystem)
    @Html.ValidationMessageFor(model => model.OperatingSystem)
</div>

<div class="editor-label">
    UserAgent
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.UserAgentId, ((IEnumerable<UserAgent>)ViewBag.PossibleUserAgents).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.UserAgentId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.UserAgentId)
</div>
