@using nTestSwarm.Application.Domain
@model Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h1 class="warn">THIS WILL DELETE ALL RUNS, RUNUSERAGENTS, and CLIENT RUNS ASSOCIATED WITH THIS JOB</h1>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Job</legend>

    <div class="display-label">Created</div>
    <div class="display-field">@String.Format("{0:g}", Model.Created)</div>

    <div class="display-label">Updated</div>
    <div class="display-field">@String.Format("{0:g}", Model.Updated)</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Status</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Status).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


